<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        #ImageBackgound {
            height: 750px;
            background: url(../../Content/Image/education-institutional-banner-img.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-light">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("HUONG VIET GROUP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div id="ImageBackgound" style="text-align:center; color: white;">
        <h4 style="vertical-align: middle;">HỆ THỐNG QUẢN LÝ ĐÀO TẠO TRÊN</h4>
        <h4>NỀN TẢNG ĐÁM MÂY CLS</h4>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
